<%= form_with do |f| %>
    <h3>写真</h3>
    
    <h3><p>住所</p>都道府県</h3>

    <h3>市区町村</h3>
        <input name="city">
    <h3>番地</h3>
        <input name="addres">
    <h3>アピールポイント</h3>
        <textarea name="appeal"></textarea>
    <input type='submit' value='投稿'>
<% end %>
